@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap');

body {
  background-image: rgba(0, 0, 0, .25);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .05));
}


.header {
  align-items: center;
  border: solid 2px #000;
  display: flex;
  text-align: center;
  width: 100%;
}

h5 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 7px 10px 0px 10px;
  text-align: center;
  user-select: none;
}

h6 {
  display: flex;
  justify-content: center;
  padding: 5px 10px 5px 10px;
  text-align: center;
  user-select: none;
}


section {
  text-align: center;
}

.buttons {
  margin-top: 20px;
}

.container {
  height: 75vh;
}

.board {
  margin: auto;
  max-height: calc(100vh - 100px);
  min-width: calc(100vh - 100px);
}

.box {
  align-items: center;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  color: #8B0000;
  display: flex;
  font-family: 'Balsamiq Sans';
  font-size: 17vh;
  justify-content: center;
  min-height: calc(100% / 3);
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
  user-select: none;

  &:nth-child(3n) {
    border-right: 0px;
  }

  &:nth-last-child(-1n + 3) {
    border-bottom: 0px;
  }

  &:hover {
    background-color: #008080;
    cursor: pointer;
  }
}
